
.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

  .footer {
    background: linear-gradient(245deg, #84de7b,  hsl(221, 82%, 43%));
    color:white;
    text-align: center;
    padding: 20px 0;
    position: relative;
  }
  
  .footer-content {
    position: relative;
    z-index: 2;
  }
  

  
